body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:0.4s;   /* ⭐ smooth switching */
}

/* Light Theme */
.light{
    background:white;
    color:black;
}

/* Dark Theme */
.dark{
    background:#1e1e1e;
    color:white;
}

.container{
    background-color: aquamarine;
    border:2px solid gray;
    padding:40px;
    border-radius:10px;
    text-align:center;
}

button{
    padding:10px 20px;
    cursor:pointer;
}
button:hover{
    background-color: black;
    color: aliceblue;
}